<h1>Hola <%= @enterprise.name%></h1>

<%= form_tag("/relations/create", method: "post") do %>
    <%= email_field(:user, :address) %>
    <%= select("level", "profile_id", Relation.levels.collect {|p| [ p[0], p[1] ] }) %>
    <%= submit_tag("asociar") %>
<% end %>
