<!DOCTYPE html>
<html>
<head>
  <title>Gacela</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice" style="<%= "display:none;" if notice.nil? %>"><%= notice %></p>
	<p class="alert"  style="<%= "display:none;" if alert.nil?  %>"><%= alert %></p>
<%= yield %>

</body>
</html>
